body {
  background-color: gray;
  min-width: 450px;
}

.container{

  padding: 10px;

}
.card{
  
background-color: orange;
}

.card .card {

background-color: whitesmoke;
padding: 10px;

}

.col .sm4 {
  padding: 5px;
  margin-top: -45px;
  margin-bottom: 25px;
}

.card .form {
  
  position:relative;
  top: 30px;
}

.container {
  margin: 0 auto;
  max-width: 1640px;
  width: 95%;
}